[submodule "auto-save"]
	path = site-lisp/extensions/auto-save
	url = https://github.com/manateelazycat/auto-save
[submodule "lazy-load"]
	path = site-lisp/extensions/lazy-load
	url = https://github.com/manateelazycat/lazy-load
[submodule "disable-mouse"]
	path = site-lisp/extensions/disable-mouse
	url = https://github.com/purcell/disable-mouse
[submodule "swiper"]
	path = site-lisp/extensions/swiper
	url = https://github.com/abo-abo/swiper
[submodule "benchmark-init"]
	path = site-lisp/extensions/benchmark-init
	url = https://github.com/dholm/benchmark-init-el
[submodule "ace-window"]
	path = site-lisp/extensions/ace-window
	url = https://github.com/abo-abo/ace-window
[submodule "avy"]
	path = site-lisp/extensions/avy
	url = https://github.com/abo-abo/avy
[submodule "winum"]
	path = site-lisp/extensions/winum
	url = https://github.com/deb0ch/emacs-winum
[submodule "dash"]
	path = site-lisp/extensions/dash
	url = https://github.com/magnars/dash.el
[submodule "helm"]
	path = site-lisp/extensions/helm
	url = https://github.com/emacs-helm/helm
[submodule "popup"]
	path = site-lisp/extensions/popup
	url = https://github.com/auto-complete/popup-el
[submodule "async"]
	path = site-lisp\\extensions\\async
	url = https://github.com/jwiegley/emacs-async
[submodule "ido-vertical-mode"]
	path = site-lisp/extensions/ido-vertical-mode
	url = https://github.com/creichert/ido-vertical-mode.el
[submodule "icomplete-vertical"]
	path = site-lisp/extensions/icomplete-vertical
	url = https://github.com/oantolin/icomplete-vertical
[submodule "dired-sidebar"]
	path = site-lisp\\extensions\\dired-sidebar
	url = https://github.com/jojojames/dired-sidebar
[submodule "dired-hacks"]
	path = site-lisp/extensions/dired-hacks
	url = https://github.com/Fuco1/dired-hacks
