[submodule "auto-save"]
	path = site-lisp/extensions/auto-save
	url = https://github.com.cnpmjs.org/manateelazycat/auto-save
[submodule "lazy-load"]
	path = site-lisp/extensions/lazy-load
	url = https://github.com.cnpmjs.org/manateelazycat/lazy-load
[submodule "disable-mouse"]
	path = site-lisp/extensions/disable-mouse
	url = https://github.com.cnpmjs.org/purcell/disable-mouse
[submodule "swiper"]
	path = site-lisp/extensions/swiper
	url = https://github.com.cnpmjs.org/abo-abo/swiper
[submodule "benchmark-init"]
	path = site-lisp/extensions/benchmark-init
	url = https://github.com.cnpmjs.org/dholm/benchmark-init-el
[submodule "ace-window"]
	path = site-lisp/extensions/ace-window
	url = https://github.com.cnpmjs.org/abo-abo/ace-window
[submodule "avy"]
	path = site-lisp/extensions/avy
	url = https://github.com.cnpmjs.org/abo-abo/avy
[submodule "winum"]
	path = site-lisp/extensions/winum
	url = https://github.com.cnpmjs.org/deb0ch/emacs-winum
[submodule "dash"]
	path = site-lisp/extensions/dash
	url = https://github.com.cnpmjs.org/magnars/dash.el
[submodule "helm"]
	path = site-lisp/extensions/helm
	url = https://github.com.cnpmjs.org/emacs-helm/helm
[submodule "popup"]
	path = site-lisp/extensions/popup
	url = https://github.com.cnpmjs.org/auto-complete/popup-el
[submodule "async"]
	path = site-lisp/extensions/async
	url = https://github.com.cnpmjs.org/jwiegley/emacs-async
[submodule "ido-vertical-mode"]
	path = site-lisp/extensions/ido-vertical-mode
	url = https://github.com.cnpmjs.org/creichert/ido-vertical-mode.el
[submodule "icomplete-vertical"]
	path = site-lisp/extensions/icomplete-vertical
	url = https://github.com.cnpmjs.org/oantolin/icomplete-vertical
[submodule "dired-sidebar"]
	path = site-lisp/extensions/dired-sidebar
	url = https://github.com.cnpmjs.org/jojojames/dired-sidebar
[submodule "dired-hacks"]
	path = site-lisp/extensions/dired-hacks
	url = https://github.com.cnpmjs.org/Fuco1/dired-hacks
[submodule "find-file-in-project"]
	path = site-lisp/extensions/find-file-in-project
	url = https://github.com.cnpmjs.org/redguardtoo/find-file-in-project
[submodule "aggressive-indent-mode"]
	path = site-lisp/extensions/aggressive-indent-mode
	url = https://github.com.cnpmjs.org/Malabarba/aggressive-indent-mode
[submodule "indent-guide"]
	path = site-lisp/extensions/indent-guide
	url = https://github.com.cnpmjs.org/zk-phi/indent-guide
[submodule "modern-cpp-font-lock"]
	path = site-lisp/extensions/modern-cpp-font-lock
	url = https://github.com.cnpmjs.org/ludwigpacifici/modern-cpp-font-lock
[submodule "irony"]
	path = site-lisp/extensions/irony
	url = https://github.com.cnpmjs.org/Sarcasm/irony-mode
[submodule "company-irony"]
	path = site-lisp/extensions/company-irony
	url = https://github.com.cnpmjs.org/Sarcasm/company-irony
[submodule "irony-eldoc"]
	path = site-lisp/extensions/irony-eldoc
	url = https://github.com.cnpmjs.org/ikirill/irony-eldoc
[submodule "haskell-mode"]
	path = site-lisp/extensions/haskell-mode
	url = https://github.com.cnpmjs.org/haskell/haskell-mode
[submodule "cnfonts"]
	path = site-lisp/extensions/cnfonts
	url = https://github.com.cnpmjs.org/tumashu/cnfonts
[submodule "app-launcher"]
	path = site-lisp/extensions/app-launcher
	url = https://github.com/SebastienWae/app-launcher
[submodule "htmlize"]
	path = site-lisp/extensions/htmlize
	url = https://github.com/hniksic/emacs-htmlize
[submodule "rust-mode"]
	path = site-lisp/extensions/rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "yasnippet-snippets"]
	path = site-lisp/extensions/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets
[submodule "esxml"]
	path = site-lisp/extensions/esxml
	url = https://github.com/tali713/esxml
[submodule "slime"]
	path = site-lisp/extensions/slime
	url = https://github.com/slime/slime
[submodule "citre"]
	path = site-lisp/extensions/citre
	url = https://github.com/universal-ctags/citre
